<html>
  <head>
    <meta charset="utf-8">
    <title>Simple markers</title>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="js/googlemaps.js"></script>  
    <script src="js/jquery-1.11.1.min.js"></script>
  </head>
   
  <body>
    
    <div id="map-canvas"></div>
    <form>
   <input type="text" name="latlng1" id="latlng1"><br>
  
   <input type="submit" value="Submit" class ="submit">
   </form>
    <script src="js/map.js"></script>
    
    <script type="text/javascript">

   </script>
  </body>
</html>
